@font-face {
  font-family: Augor;
  src: url('fonts/Augor-Regular.woff') format('woff'),
       url('fonts/Augor-Regular.woff2') format('woff2');
}

@font-face {
  font-family: PTSans;
  src: url('fonts/PTSans-Regular.woff') format('woff'),
       url('fonts/PTSans-Regular.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: PTSans;
  src: url('fonts/PTSans-Italic.woff') format('woff'),
       url('fonts/PTSans-Italic.woff2') format('woff2');
  font-style: italic;
}

@font-face {
  font-family: PTSans;
  src: url('fonts/PTSans-BoldItalic.woff') format('woff'),
       url('fonts/PTSans-BoldItalic.woff2') format('woff2');
  font-style: italic;
  font-weight:bold;
}

@font-face {
  font-family: PTSans;
  src: url('fonts/PTSans-Bold.woff') format('woff'),
       url('fonts/PTSans-Bold.woff2') format('woff2');
  font-weight:bold;
}

.blog-shadow {
  box-shadow: 5px 5px 3px #6B6B6B;
}

#categories:hover #categories-sub{
  display:flex;
  flex-direction:column;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply focus:ring-2 focus:ring-purple-light focus:outline-none focus:ring-offset-2
  }

  h1,
  h2, 
  h3 {
    @apply font-display;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  p {
    @apply text-xl leading-snug my-4;
  }
}

@layer components {
  .btn {
    @apply bg-yellow hover:bg-yellow-dark hover:underline focus:bg-yellow-dark font-bold px-6 py-2 rounded-md text-lg text-black transition duration-300 ease-in-out; 
  }
  .link {
    @apply text-purple-light hover:text-purple hover:underline focus:text-purple focus:underline;
  }
  .active {
    @apply bg-yellow font-semibold text-black;
  }
  .page {
    max-width: 1080px;
  }
}
